body {
    font-family: 'Montserrat';
    margin:0; padding:0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
* {
    box-sizing: border-box;
}
header{
    background-color:#93b7be;
}
ul > li {
    list-style-type: none;
}
.navigation {
    text-align: center;
}
.navigation li {
    display:inline-block;
    margin:10px 20px;
}

.navigation a {
    display:block;
    text-decoration: none;
    color:black;
}
.navigation a:hover{
    color: #F52100;
}

