main{
    padding:0px 150px;
    background-color: #2B303A;
}
#about{
    background-color:#FFFDF7;
}
article{
    margin:0px 0px 30px 0px;
}
.about-items{
    display: flex;
    gap: 20px;
}
.profession-label{
    font-size: 17px;
}
.start-label{
    margin:50px 50px 0px 50px;
    font-weight: 200;
    font-style: italic;
}
.country{
    font-weight: 500;
    font-style: normal;
    text-decoration: underline;
    padding-top:10px;
}
.photo{
    height: 50vh;
}
h1{
    font-weight: 900;
    font-style: italic;
}
 
.my-words{
    width:fit-content;
    height: fit-content;
    padding:30px 50px;
    text-align: center;
    font-weight: 300;
    font-size: 17px;
}
.email a{
    color:#5C95AD;
    font-style: normal;
    font-weight: 500;

}
.email{
    padding:10px 0px;
}
.stroke{
    height:20px;
    width:100%;
    background-color:#F52100;
}

/* DIAGRAMS */

.list-skills{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.chart {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: #FFFDF7;  
    margin: 10px 0px;

}
.pie {
    --w:100px;
    
    width: var(--w);
    aspect-ratio: 1;
    position: relative;
    display: inline-grid;
    place-content: center;
    margin: 5px;
    font-size: 25px;
    font-weight: bold;
    font-family: sans-serif;
  }
  .pie:before {
    content: "";
    position: absolute;
    border-radius: 50%;
    inset: 0;
    background: conic-gradient(var(--c) calc(var(--p)*1%),#0000 0);
    -webkit-mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
            mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
  }
h2{
    color:#F52100;
}
.under-skills{
    color:#5C95AD;
}
.soft-skills-list{
    display: flex;

    justify-content: space-between;

}
.soft-skills-list > li > div{
    text-align: center;
    
    width:30vh;
    height: 20vh;

    font-weight: 300;
    background-color:#5C95AD;
}

.example{
    background-color:#959FB1;
}
#education{
    font-weight: 800;
    font-style: italic;
    color: whitesmoke;
}
#education > a{
    text-decoration: none;
    color:#FFFDF7;
}
#education > a:hover{
    color:#F52100;
}